*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px;
}

.books {
    display: flex;
    gap: 36px;
}

.book {
    width: 300px;
    height: 450px;
    border: 1px solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.imageContainer {
    flex: 2;
    padding: 24px;
    background-color: cornflowerblue;
    min-height: 0;
}

.imageContainer img {
    width: 100%;
    height: 100%;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

dialog {
    margin: auto;
}

label {
    display: inline-block;
    width: 60px;
    text-align: right;
}

form p+p {
    margin-top: 24px;
}