*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 48px;
}

.books {
    display: grid;
    gap: 36px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-flow: column;
    justify-content: center;
}

.book {
    height: 450px;
    border: 1px solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.deleteBook {
    border: none;
    background-color: transparent;
    align-self: flex-end;
    cursor: pointer;
    color: crimson;
}

.deleteBook svg {
    fill: currentColor;
}

.deleteBook svg:hover {
    fill: hsla(348, 83%, 47%, 0.75);
}

.imageContainer {
    flex: 2;
    padding: 24px;
    background-color: cornflowerblue;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.imageContainer img {
    min-height: 0;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 24px;
    align-self: center;
}

dialog {
    margin: auto;
    padding: 8px;
    border-radius: 16px;
    border: 1px solid;
}

.dialogContent {
    display: flex;
    flex-direction: column;
}

label {
    display: inline-block;
    width: 60px;
    text-align: right;
    margin-right: 8px;
}

form {
    padding: 16px;
}

form p+p {
    margin-top: 24px;
}

.closeButton {
    border: none;
    background-color: transparent;
    padding: 0;
    align-self: flex-end;
    margin: 0px 0px 16px 16px;
}

.closeButton svg,
.deleteBook svg {
    width: 25px;
    height: 25px;
}

.closeButton svg path {
    fill: hsl(0, 75%, 50%);
}

.closeButton svg:hover path {
    fill: hsla(0, 75%, 50%, 0.75);
}

button[type='submit'] {
    padding: 8px 36px;
    margin: auto;
    display: block;
}